@import "breakpoints";
@import "variables";
@import "helpers";

#page-about-me {
  .about {
    background: $beige;
    padding: 80px 0;

    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 40px;
      @include breakpoint(medium) {
        grid-template-columns: 1fr 2fr;
        max-width: 1120px;
      }
    }
  }

  .instagram {
    background: $grey-green;
    padding: 80px 0 60px 0;
    text-align: center;

    .container {
      max-width: 1120px;

      .collection {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin: 60px 0;

        img{ width: 100%; height: auto;}
      }
    }
  }

  .twitter {
    background: $dark;
    padding: 80px 0;

    .container {
      text-align: center;
      max-width: 800px;
      color: #fff;

      h2 {
        margin-bottom: 60px;
      }

      .dotted-link {
        color: #fff;
      }
    }
  }
}