@import "breakpoints";
@import "variables";

#page-cooperation {
  .cooperation {
    background: $beige;
    padding: 80px 0;

    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 40px;
      @include breakpoint(medium) {
        grid-template-columns: 1fr 2fr;
        max-width: 1120px;
      }

      p {
        max-width: 400px;
      }
    }
  }

  .quick-nav {
    background: $grey-green-dark;
    .container {
      max-width: 1120px;
      position: relative;
      span {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        display: inline-block;
        margin: 9px 0;
      }
      nav {
        position: absolute;
        top: 40px;
        left: -50px;
        padding: 40px 50px;
        background: $grey-green-darker;
        z-index: 100;

        a {
          display: block;
          font-size: 14px;
          line-height: 40px;
          margin: 5px 0;
          color: #fff;
          font-weight: 600;
          text-decoration: none;
          &:hover, &.active {
            color: $orange;
          }
          &.active {
            font-weight: 700;
          }
        }
      }
    }
  }

  .image-negative-margin {
    margin: -70px 0 -30px 40px;
  }

  .image-left {
    grid-template-columns: 2fr 3fr;
  }

  .image-right {
    grid-template-columns: 3fr 2fr;
  }

  .meet-my-team {
    background: $dark;
    color: $white;
    padding: 80px 0;

    .container {
      display: grid;
      grid-template-columns: 3fr 2fr;

      .title {
        position: relative;
        display: inline-block;

        &:after {
          content: '';
          display: block;
          width: 41px;
          height: 16px;
          background: url("../images/arrow-3.svg") center center no-repeat;
          position: absolute;
          top: 15px;
          right: -90px;
        }
      }

      .links {
        a{
          color: $white;
          &:first-of-type { margin-right: 50px}
        }
      }
    }
  }

  .make-a-call {
    background: $dark;
    color: $white;
    padding: 80px 0;

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;

      p {
        margin: 40px 0;
      }

      .links {
        a{
          color: $white;
          &:first-of-type { margin-right: 50px}
        }
      }
    }
  }
}
