@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Open+Sans:wght@400;600;700&display=swap");

@import "mixins/breakpoints";
@import "common/normalize";
@import "common/variables";
@import "helpers/helpers";
@import "helpers/page-helpers";

@import "page-abooutme";
@import "page-cooperation";
@import "page-team";
@import "page-podcast";
@import "page-blog";

html {
  color: $text-color-dark;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: geometricPrecision;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 16px;
    line-height: 26px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 13px;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background: $dark;
    }
  }
}

a {
  color: inherit;
}

#navigation {
  background: $white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    height: 100px;
  }

  .logo {
    flex: 1;
  }

  button {
    border: 0;
    background: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    @include breakpoint(small) {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.4;
    visibility: hidden;
    // transition: opacity 0.7s, visibility 0.7s;

    @include breakpoint(small) {
      flex: 1;
      justify-content: flex-end;
      opacity: 1;
      visibility: visible;
      position: static;
      background: none;
      flex-direction: row;
    }

    .close {
      position: absolute;
      top: 25px;
      right: 25px;
      @include breakpoint(small) {
        display: none;
      }
    }

    a {
      text-decoration: none;
      color: $white;
      margin: 20px 0 20px 50px;
      font-weight: 600;
      transition: color 0.7s;
      white-space: nowrap;

      @include breakpoint(small) {
        margin-left: 42px;
        color: $text-color-dark;
      }

      &:hover,
      &.active {
        color: $orange;

        @include breakpoint(small) {
          color: $turquoise-dark;
        }
      }
    }
  }

  &.open {
    nav {
      opacity: 1;
      visibility: visible;
    }
  }
}

#top {
  position: relative;
  @include breakpoint(small) {
    &:before,
    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    &:before {
      background: $grey-green;
      right: calc(50% - 100px);
    }

    &:after {
      background: $dark;
      left: calc(50% + 100px);
    }
  }

  .container {
    @include breakpoint(small) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  .slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $default-mobile-padding;
    position: relative;
    @include breakpoint(small) {
      padding: 0;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: -25px;
      right: -25px;
      bottom: -50px;
      z-index: -1;
      background: $grey-green;
      @include breakpoint(small) {
        display: none;
      }
    }

    h2 {
      margin-bottom: 40px;
      @include breakpoint(small) {
        margin-right: 40px;
      }
      @include breakpoint(medium) {
        margin-right: 100px;
      }
    }

    p {
      margin-bottom: 60px;
      @include breakpoint(small) {
        margin-right: 40px;
      }
      @include breakpoint(medium) {
        margin-right: 100px;
      }
    }
  }

  .picture {
    padding-bottom: 25px;
    position: relative;
    @include breakpoint(small) {
      padding: 0;
    }

    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 50px;
      left: -25px;
      right: -25px;
      bottom: 0;
      z-index: -1;
      background: $dark;
      @include breakpoint(small) {
        display: none;
      }
    }

    img {
      width: 100%;
      height: auto;
      @include breakpoint(small) {
        margin: 100px 0;
      }
    }
  }
}

#performance-psychology {
  text-align: center;
  padding: $default-mobile-padding;
  @include breakpoint(small) {
    padding: $default-desktop-padding;
  }

  h2 {
    margin: 0 0 24px 0;
  }

  .slogan {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 40px;
    @include breakpoint(small) {
      margin: 0 120px 60px 120px;
    }
    @include breakpoint(medium) {
      margin: 0 200px 60px 200px;
    }
  }

  .collection {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    @include breakpoint(small) {
      max-width: 560px;
      margin: 0 auto;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include breakpoint(medium) {
      max-width: 100%;
      justify-content: space-between;
    }

    .item {
      margin: 30px 20px;
      @include breakpoint(small) {
        max-width: 150px;
      }
      @include breakpoint(medium) {
        margin: 30px 0;
      }
    }

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 110px;
      margin-bottom: 20px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

#about {
  background: $beige;
  position: relative;

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 25px;
    background: $white;
  }

  &:after {
    @include breakpoint(large) {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 25px;
      background: $grey-green;
    }
  }

  .container {
    @include breakpoint(small) {
      max-width: 560px;
    }
    @include breakpoint(medium) {
      max-width: inherit;
    }
  }

  article {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    z-index: 1;
    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 24px;
    }

    &:nth-of-type(1) {
      grid-template-areas: "image" "text";
      @include breakpoint(medium) {
        grid-template-areas: "image text";
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &:nth-of-type(2) {
      grid-template-areas: "image" "text";
      @include breakpoint(medium) {
        margin-top: 110px;
        grid-template-areas: "text image";
      }

      .image {
        @include breakpoint(medium) {
          margin-left: 40px;
        }
      }

      .text {
        @include breakpoint(medium) {
          margin-right: 20px;
          margin-bottom: 40px;
        }
      }
    }

    .image {
      grid-area: image;
      margin: 0 -25px;
      @include breakpoint(small) {
        margin: 0;
      }

      img {
        width: 100%;
        height: auto;
        @include breakpoint(medium) {
          max-width: 100%;
          width: auto;
        }
      }
    }

    .text {
      grid-area: text;
      padding: 40px 0;
      @include breakpoint(medium) {
        padding: 0;
      }

      p {
        position: relative;
        margin-top: 84px;
        @include breakpoint(small) {
          margin-left: 60px;
        }
        @include breakpoint(medium) {
          margin-left: 40px;
        }

        &:before {
          display: block;
          content: "";
          position: absolute;
          top: -42px;
          left: 0;
          width: 135px;
          height: 4px;
          background: $turquoise-light;
        }
      }
    }
  }
}

#cooperation {
  background: $grey-green;
  padding: $default-mobile-padding;

  @include breakpoint(large) {
    padding: 110px 0 80px 0;
  }

  .container {
    margin-right: 0;
    @include breakpoint(small) {
      margin-right: auto;
    }
  }

  h2 {
    text-align: center;
  }

  .collection {
    margin: 50px auto 80px auto;

    @include breakpoint(small) {
      display: grid;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include breakpoint(large) {
      width: 1110px;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .item {
      background: $white;
      box-shadow: 0 0 0 0 $orange;
      transition: all 0.7s;

      &:hover {
        box-shadow: 10px 10px 0 0 $orange;
      }

      .image {
        height: 125px;
        background: $beige;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .text {
        padding: 32px;
        min-height: 330px;
        @include breakpoint(small) {
          min-height: auto;
        }

        .headline {
          margin-bottom: 12px;
        }

        .lead {
          margin-bottom: 28px;
        }
      }
    }
  }
}

#da {
  position: relative;
  padding: 50px 0 0 0;
  @include breakpoint(large) {
    padding: $default-desktop-padding;
  }

  &:before {
    @include breakpoint(large) {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      right: 0;
      background: $beige;
      z-index: -1;
    }
  }

  .container {
    width: 100%;
    margin: 0;
    @include breakpoint(large) {
      width: 1140px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 4fr 2fr 4fr;
      grid-column-gap: 30px;
    }

    .name {
      max-width: 560px;
      margin: 0 auto;
      padding: 0 25px 25px 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      @include breakpoint(medium) {
        max-width: 700px;
      }
      @include breakpoint(large) {
        max-width: none;
        margin: 0;
        text-align: left;
      }

      p {
        margin: 40px 0 60px 0;
      }

      .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include breakpoint(small) {
          flex-direction: row;
          justify-content: center;
        }
        @include breakpoint(large) {
          justify-content: flex-start;
        }

        a {
          margin: 0 0 50px 0;
          @include breakpoint(small) {
            margin: 0 25px 50px 25px;
          }
          @include breakpoint(large) {
            margin: 0 50px 0 0;
          }
        }
      }
    }

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &:before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        background: $beige;
        z-index: -1;
        @include breakpoint(large) {
          display: none;
        }
      }

      img {
        border-radius: 100px;
      }
    }

    .numbers {
      background: $beige;

      .collection {
        max-width: 720px;
        margin: 0 auto;
        padding: 25px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include breakpoint(small) {
          flex-direction: row;
          justify-content: space-between;
        }
        @include breakpoint(medium) {
          max-width: 960px;
        }
        @include breakpoint(large) {
          flex-direction: column;
          margin: 0;
          padding-left: 50px;
        }

        .item {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: center;
          margin: 25px 0;
          @include breakpoint(small) {
            align-items: flex-start;
            margin: 25px 0;
          }
          @include breakpoint(large) {
            flex-direction: row;
          }

          &:nth-of-type(2) {
            @include breakpoint(small) {
              margin: 25px;
            }
            @include breakpoint(large) {
              margin-left: 40px;
            }
          }

          span {
            font-family: "Abhaya Libre", serif;
            font-style: normal;
            font-weight: bold;
            font-size: 52px;
            line-height: 54px;
            margin-right: 15px;
          }

          p {
            text-align: center;
            font-size: 16px;
            line-height: 24px;
            max-width: 300px;
            @include breakpoint(small) {
              text-align: left;
            }
          }
        }
      }
    }
  }
}

#podcast {
  background: $dark;
  color: $white;
  padding: $default-mobile-padding;
  @include breakpoint(large) {
    padding: $default-desktop-padding;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "text" "image" "links";
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    @include breakpoint(small) {
      max-width: 560px;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "text text" "image links";
    }
    @include breakpoint(large) {
      max-width: 1140px;
      grid-template-columns: 4fr 6fr;
      grid-template-areas: "image text" "image links";
    }

    .image {
      grid-area: image;

      img {
        width: 100%;
        height: auto;

        @include breakpoint(small) {
          width: 340px;
        }
      }
    }

    .text {
      grid-area: text;
      text-align: center;
      @include breakpoint(small) {
        text-align: left;
      }

      h2 {
        margin-bottom: 40px;
      }
    }

    .links {
      grid-area: links;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      @include breakpoint(small) {
        justify-content: flex-start;
      }

      p {
        width: 100%;
        text-align: center;
        margin: 0 0 30px 0;
        font-size: 12px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        @include breakpoint(small) {
          text-align: left;
        }
        @include breakpoint(large) {
          width: auto;
          margin: 0 30px 0 0;
        }
      }

      a {
        &:nth-of-type(2) {
          margin: 0 30px;
        }
      }

      img {
        opacity: 0.5;
      }
    }
  }
}

#blog {
  background: $beige;
  padding: $default-mobile-padding;
  @include breakpoint(large) {
    padding: 110px 0 70px 0;
  }

  .container {
    margin: 0 0 0 25px;
    @include breakpoint(small) {
      margin: 0 auto;
    }

    h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    .collection {
      @include breakpoint(small) {
        border-bottom: 1px solid $grey-light;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        margin-bottom: 80px;
      }
      @include breakpoint(medium) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .item {
        box-shadow: 0 0 0 0 $turquoise-light;
        transition: all 0.7s;

        &:nth-of-type(3) {
          @include breakpoint(small) {
            display: none;
          }
          @include breakpoint(medium) {
            display: block;
          }
        }

        &:hover {
          box-shadow: 10px 10px 0 0 $turquoise-light;
        }

        .image {
          img {
            width: 100%;
            height: auto;
          }
        }

        .text {
          background: $white;
          padding: 24px;

          span {
            font-size: 12px;
            line-height: 26px;
            letter-spacing: 0.1em;
            color: $grey;
            font-weight: 700;
          }

          h3 {
            font-family: "Abhaya Libre", serif;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            margin: 2px 0 5px 0;
          }

          p {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

#footer {
  padding: 60px 0 40px 0;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "logo" "contact" "newsletter" "social" "separator" "links" "copy";
    grid-row-gap: 40px;

    @include breakpoint(medium) {
      grid-template-columns: 2fr 4fr 4fr;
      grid-template-areas: "logo contact newsletter" "separator separator separator" "social links copy";
      grid-column-gap: 25px;
      grid-row-gap: 30px;
    }

    .logo {
      grid-area: logo;
      text-align: center;
      @include breakpoint(medium) {
        text-align: left;
      }
    }

    .contact {
      grid-area: contact;
      text-align: center;
      @include breakpoint(medium) {
        text-align: left;
      }
      p {
        font-size: 16px;
        line-height: 27px;
      }
    }

    .newsletter {
      grid-area: newsletter;
      text-align: center;
      @include breakpoint(medium) {
        text-align: left;
      }
      p {
        font-family: "Abhaya Libre", serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 25px;
      }

      .signup {
        display: flex;
        border: 1px solid #363636;

        input {
          flex: 1 1 auto;
          line-height: 45px;
          border: 0;
          padding: 0 0 0 20px;

          &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: $grey-light;
          }
          &::-moz-placeholder {
            /* Firefox 19+ */
            color: $grey-light;
          }
          &:-ms-input-placeholder {
            /* IE 10+ */
            color: $grey-light;
          }
          &:-moz-placeholder {
            /* Firefox 18- */
            color: $grey-light;
          }
        }

        button {
          height: 45px;
          background: none;
          border: 0;
          padding: 0 20px;
        }
      }
    }

    .separator {
      grid-area: separator;
      border-top: 1px solid $grey-light;
      min-height: 1px;
    }

    .social {
      grid-area: social;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 100%;
      max-width: 320px;

      a {
        @include breakpoint(medium) {
          margin-right: 15px;
        }
      }
    }

    .links {
      grid-area: links;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include breakpoint(medium) {
        flex-direction: row;
      }

      a {
        &:nth-of-type(2) {
          margin-top: 20px;
          @include breakpoint(medium) {
            margin-top: 0;
            margin-left: 50px;
          }
        }
      }
    }

    .copy {
      grid-area: copy;

      p {
        font-size: 16px;
        line-height: 24px;
        @include breakpoint(large) {
          line-height: 37px;
        }
      }
    }
  }
}

.container {
  margin: 0 25px;
}

@include breakpoint(xsmall) {
}

@include breakpoint(small) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
}

@include breakpoint(medium) {
  .container {
    width: 960px;
  }
}

@include breakpoint(large) {
  .container {
    width: 1200px;
  }
}
