$text-color-dark: #29302B;
$text-color-light: #fff;

$turquoise-light: #0FCBB3;
$turquoise-dark: #13A895;
$grey-green: #E0E7E7;
$beige: #F8F5F2;
$yellow: #F4C201;
$orange: #F9A01B;
$dark: #3F4242;
$grey: #828282;
$grey-light: #c4c4c4;
$white: #fff;
