@import "../mixins/breakpoints";
@import "../common/variables";

.page {
  .bg-grey-green {
    background: $grey-green;
  }

  .bg-beige {
    background: $beige;
  }

  .padding {
    padding: 80px 0;
  }

  .padding-top {
    padding-top: 120px;
  }

  .container {
    &.image-left {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "image text";
      grid-column-gap: 30px;
    }

    &.image-right {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "text image";
      grid-column-gap: 30px;

      .text {
        margin-right: 80px;
      }
    }
  }

  .image {
    grid-area: image;
  }

  .text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 30px;
    }

    ul {
      margin-bottom: 30px;
    }
  }

  .image-negative-margin {
    margin: -30px 0 -30px 40px;
  }

  .image-margin-left {
    margin-left: 40px;
  }

  .link-margin .dotted-link {
    margin-top: 30px;
  }

  .page-icon {
    width: 160px;
    height: auto;
    margin-bottom: 40px;
  }
}
